In [1]:
#Dependencies
from census import Census
from config_census import (census_key, gkey)
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt
import gmaps.datasets

In [2]:
census2018=pd.read_csv('./Resources/2018.csv')
census2017=pd.read_csv('./Resources/2017.csv')
census2016=pd.read_csv('./Resources/2016.csv')

In [3]:
census2018.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Latitude,Longitude
0,90001,58975.0,29.1,38521.0,12835.0,16911.0,28.674862,33.9731,-118.2479
1,90002,53111.0,27.7,35410.0,12372.0,17365.0,32.695675,33.9497,-118.2462
2,90005,39479.0,35.8,35149.0,22694.0,11036.0,27.954102,34.0585,-118.3012
3,90006,61698.0,33.2,35411.0,16383.0,17326.0,28.081948,34.0493,-118.2917
4,90003,72741.0,28.6,37226.0,12316.0,22186.0,30.499993,33.9653,-118.2727

In [4]:
census2018.shape

(62, 9)

In [5]:
census2017.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Latitude,Longitude
0,90001,58738.0,28.7,35660.0,11882.0,18654.0,31.757976,33.9731,-118.2479
1,90002,52856.0,27.7,34000.0,11807.0,17795.0,33.666944,33.9497,-118.2462
2,90005,39562.0,35.4,32461.0,21566.0,11300.0,28.562762,34.0585,-118.3012
3,90006,62329.0,33.2,33790.0,15314.0,17720.0,28.429784,34.0493,-118.2917
4,90003,70490.0,28.2,34397.0,11305.0,23212.0,32.929494,33.9653,-118.2727

In [6]:
census2017=census2017.drop(columns=['Latitude', 'Longitude'])
census2017.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,90001,58738.0,28.7,35660.0,11882.0,18654.0,31.757976
1,90002,52856.0,27.7,34000.0,11807.0,17795.0,33.666944
2,90005,39562.0,35.4,32461.0,21566.0,11300.0,28.562762
3,90006,62329.0,33.2,33790.0,15314.0,17720.0,28.429784
4,90003,70490.0,28.2,34397.0,11305.0,23212.0,32.929494

In [7]:
reduced_census_df=pd.merge(census2018, census2017, on='Zipcode', how='outer')
reduced_census_df.head()

,Zipcode,Population_x,Median Age_x,Household Income_x,Per Capita Income_x,Poverty Count_x,Poverty Rate_x,Latitude,Longitude,Population_y,Median Age_y,Household Income_y,Per Capita Income_y,Poverty Count_y,Poverty Rate_y
0,90001,58975.0,29.1,38521.0,12835.0,16911.0,28.674862,33.9731,-118.2479,58738.0,28.7,35660.0,11882.0,18654.0,31.757976
1,90002,53111.0,27.7,35410.0,12372.0,17365.0,32.695675,33.9497,-118.2462,52856.0,27.7,34000.0,11807.0,17795.0,33.666944
2,90005,39479.0,35.8,35149.0,22694.0,11036.0,27.954102,34.0585,-118.3012,39562.0,35.4,32461.0,21566.0,11300.0,28.562762
3,90006,61698.0,33.2,35411.0,16383.0,17326.0,28.081948,34.0493,-118.2917,62329.0,33.2,33790.0,15314.0,17720.0,28.429784
4,90003,72741.0,28.6,37226.0,12316.0,22186.0,30.499993,33.9653,-118.2727,70490.0,28.2,34397.0,11305.0,23212.0,32.929494

In [8]:
list(reduced_census_df.columns)

['Zipcode',
 'Population_x',
 'Median Age_x',
 'Household Income_x',
 'Per Capita Income_x',
 'Poverty Count_x',
 'Poverty Rate_x',
 'Latitude',
 'Longitude',
 'Population_y',
 'Median Age_y',
 'Household Income_y',
 'Per Capita Income_y',
 'Poverty Count_y',
 'Poverty Rate_y']

In [9]:
reduced_census_df=reduced_census_df.rename(columns={
    'Population_x':'2018 Population', 
    'Median Age_x': '2018 Median Age',
    'Household Income_x': '2018 Household Income',
    'Per Capita Income_x': '2018 Per Capita Income',
    'Poverty Count_x': '2018 Poverty Count',
    'Poverty Rate_x': '2018 Poverty Rate',
    'Population_y': '2017 Population',
    'Median Age_y': '2017 Mediann Age',
    'Household Income_y': '2017 Household Income',
    'Per Capita Income_y': '2017 Per Capita Income',
    'Poverty Count_y': '2017 Poverty Count',
    'Poverty Rate_y':'2017 Poverty Rate'})
reduced_census_df.head()

,Zipcode,2018 Population,2018 Median Age,2018 Household Income,2018 Per Capita Income,2018 Poverty Count,2018 Poverty Rate,Latitude,Longitude,2017 Population,2017 Mediann Age,2017 Household Income,2017 Per Capita Income,2017 Poverty Count,2017 Poverty Rate
0,90001,58975.0,29.1,38521.0,12835.0,16911.0,28.674862,33.9731,-118.2479,58738.0,28.7,35660.0,11882.0,18654.0,31.757976
1,90002,53111.0,27.7,35410.0,12372.0,17365.0,32.695675,33.9497,-118.2462,52856.0,27.7,34000.0,11807.0,17795.0,33.666944
2,90005,39479.0,35.8,35149.0,22694.0,11036.0,27.954102,34.0585,-118.3012,39562.0,35.4,32461.0,21566.0,11300.0,28.562762
3,90006,61698.0,33.2,35411.0,16383.0,17326.0,28.081948,34.0493,-118.2917,62329.0,33.2,33790.0,15314.0,17720.0,28.429784
4,90003,72741.0,28.6,37226.0,12316.0,22186.0,30.499993,33.9653,-118.2727,70490.0,28.2,34397.0,11305.0,23212.0,32.929494

In [10]:
census2016=census2016.drop(columns=['Latitude', 'Longitude'])
census2016.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,90001,57942.0,28.0,34323.0,11294.0,18902.0,32.622277
1,90002,51826.0,27.5,32520.0,11212.0,18302.0,35.314321
2,90005,39338.0,33.9,31485.0,20265.0,11520.0,29.284661
3,90006,61230.0,33.6,31993.0,14306.0,17456.0,28.508901
4,90003,70208.0,28.0,31878.0,10611.0,24556.0,34.976071

In [11]:
reduced_census_df=pd.merge(reduced_census_df, census2016, on='Zipcode', how='outer')
reduced_census_df.head()

,Zipcode,2018 Population,2018 Median Age,2018 Household Income,2018 Per Capita Income,2018 Poverty Count,2018 Poverty Rate,Latitude,Longitude,2017 Population,...,2017 Household Income,2017 Per Capita Income,2017 Poverty Count,2017 Poverty Rate,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,90001,58975.0,29.1,38521.0,12835.0,16911.0,28.674862,33.9731,-118.2479,58738.0,...,35660.0,11882.0,18654.0,31.757976,57942.0,28.0,34323.0,11294.0,18902.0,32.622277
1,90002,53111.0,27.7,35410.0,12372.0,17365.0,32.695675,33.9497,-118.2462,52856.0,...,34000.0,11807.0,17795.0,33.666944,51826.0,27.5,32520.0,11212.0,18302.0,35.314321
2,90005,39479.0,35.8,35149.0,22694.0,11036.0,27.954102,34.0585,-118.3012,39562.0,...,32461.0,21566.0,11300.0,28.562762,39338.0,33.9,31485.0,20265.0,11520.0,29.284661
3,90006,61698.0,33.2,35411.0,16383.0,17326.0,28.081948,34.0493,-118.2917,62329.0,...,33790.0,15314.0,17720.0,28.429784,61230.0,33.6,31993.0,14306.0,17456.0,28.508901
4,90003,72741.0,28.6,37226.0,12316.0,22186.0,30.499993,33.9653,-118.2727,70490.0,...,34397.0,11305.0,23212.0,32.929494,70208.0,28.0,31878.0,10611.0,24556.0,34.976071

In [12]:
reduced_census_df=reduced_census_df.rename(columns={
    'Population':'2016 Population', 
    'Median Age': '2016 Median Age',
    'Household Income': '2016 Household Income',
    'Per Capita Income': '2016 Per Capita Income',
    'Poverty Count': '2016 Poverty Count',
    'Poverty Rate': '2016 Poverty Rate',})
reduced_census_df.head()

,Zipcode,2018 Population,2018 Median Age,2018 Household Income,2018 Per Capita Income,2018 Poverty Count,2018 Poverty Rate,Latitude,Longitude,2017 Population,...,2017 Household Income,2017 Per Capita Income,2017 Poverty Count,2017 Poverty Rate,2016 Population,2016 Median Age,2016 Household Income,2016 Per Capita Income,2016 Poverty Count,2016 Poverty Rate
0,90001,58975.0,29.1,38521.0,12835.0,16911.0,28.674862,33.9731,-118.2479,58738.0,...,35660.0,11882.0,18654.0,31.757976,57942.0,28.0,34323.0,11294.0,18902.0,32.622277
1,90002,53111.0,27.7,35410.0,12372.0,17365.0,32.695675,33.9497,-118.2462,52856.0,...,34000.0,11807.0,17795.0,33.666944,51826.0,27.5,32520.0,11212.0,18302.0,35.314321
2,90005,39479.0,35.8,35149.0,22694.0,11036.0,27.954102,34.0585,-118.3012,39562.0,...,32461.0,21566.0,11300.0,28.562762,39338.0,33.9,31485.0,20265.0,11520.0,29.284661
3,90006,61698.0,33.2,35411.0,16383.0,17326.0,28.081948,34.0493,-118.2917,62329.0,...,33790.0,15314.0,17720.0,28.429784,61230.0,33.6,31993.0,14306.0,17456.0,28.508901
4,90003,72741.0,28.6,37226.0,12316.0,22186.0,30.499993,33.9653,-118.2727,70490.0,...,34397.0,11305.0,23212.0,32.929494,70208.0,28.0,31878.0,10611.0,24556.0,34.976071

In [13]:
reduced_census_df.shape

(62, 21)

In [14]:
reduced_census_df.to_csv("Resources/Combined_Census_Data.csv", index=True)