In [1]:
import pandas as pd

In [2]:
#import csv_file
csv_file='Resources/Crime_Data_LA_from_2010_to_Present.csv'

In [3]:
#convert csv to dataframe
crime_data_df=pd.read_csv(csv_file)
crime_data_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [4]:
#combining similar offenses together
crime_data_clean_df=crime_data_df.replace({'BATTERY - SIMPLE ASSAULT' : 'ASSAULT', 'BURGLARY FROM VEHICLE' : 'THEFT', 'VEHICLE - STOLEN' : 'THEFT', 'THEFT PLAIN - PETTY ($950 & UNDER)' : 'THEFT', 'BURGLARY' : 'THEFT', 'THEFT OF IDENTITY' : 'THEFT', 'INTIMATE PARTNER - SIMPLE ASSAULT' : 'ASSAULT', 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)' : 'VANDALISM', 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT' : 'ASSAULT', 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)' : 'VANDALISM', 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)' : 'THEFT', 'ROBBERY' : 'THEFT', 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD' : 'THEFT', 'CRIMINAL THREATS - NO WEAPON DISPLAYED' : 'Other', 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)' : 'THEFT', 'THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)' : 'THEFT', 'DOCUMENT FORGERY / STOLEN FELONY' : 'THEFT', 'TRESPASSING' : 'Other', 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD' : 'Other', 'OTHER MISCELLANEOUS CRIME' : 'Other', 'VIOLATION OF COURT ORDER' : 'Other', 'VIOLATION OF RESTRAINING ORDER' : 'Other', 'BRANDISH WEAPON' : 'Other', 'INTIMATE PARTNER - AGGRAVATED ASSAULT' : 'ASSAULT', 'THEFT, PERSON' : 'THEFT', 'BIKE - STOLEN' : 'THEFT', 'BURGLARY, ATTEMPTED' : 'THEFT', 'ATTEMPTED ROBBERY' : 'THEFT', 'BATTERY WITH SEXUAL CONTACT' : 'SEX CRIMES', 'RAPE, FORCIBLE' : 'SEX CRIMES', 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT' : 'ASSAULT', 'BUNCO, GRAND THEFT' : 'THEFT', 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)' : 'Other', 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)' : 'THEFT', 'BUNCO, PETTY THEFT' : 'THEFT', 'CHILD NEGLECT (SEE 300 W.I.C.)' : 'Other', 'CHILD ANNOYING (17YRS & UNDER)' : 'Other', 'BATTERY POLICE (SIMPLE)' : 'Other', 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)' : 'THEFT', 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ' : 'SEX CRIMES', 'OTHER ASSAULT' : 'ASSAULT', 'CONTEMPT OF COURT' : 'Other', 'DISCHARGE FIREARMS/SHOTS FIRED' : 'Other', 'DISTURBING THE PEACE' : 'Other', 'ARSON' : 'Other', 'INDECENT EXPOSURE' : 'Other', 'VEHICLE - ATTEMPT STOLEN' : 'THEFT', 'RESISTING ARREST' : 'Other', 'THREATENING PHONE CALLS/LETTERS' : 'Other', 'BURGLARY FROM VEHICLE, ATTEMPTED' : 'THEFT', 'CRIMINAL HOMICIDE' : 'Other', 'SEXUAL PENETRATION W/FOREIGN OBJECT' : 'SEX CRIMES', 'EXTORTION' : 'Other', 'SHOTS FIRED AT INHABITED DWELLING' : 'Other', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 & UNDER' : 'THEFT', 'KIDNAPPING' : 'Other', 'STALKING' : 'Other', 'ORAL COPULATION' : 'Other', 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT' : 'ASSAULT', 'THEFT PLAIN - ATTEMPT' : 'THEFT', 'THROWING OBJECT AT MOVING VEHICLE' : 'VANDALISM', 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER' : 'ASSAULT', 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH' : 'SEX CRIMES', 'UNAUTHORIZED COMPUTER ACCESS' : 'Other', 'VIOLATION OF TEMPORARY RESTRAINING ORDER' : 'Other', 'LEWD CONDUCT' : 'Other', 'CRUELTY TO ANIMALS' : 'Other', 'THEFT FROM MOTOR VEHICLE - ATTEMPT' : 'THEFT', 'BOMB SCARE' : 'Other', 'PURSE SNATCHING' : 'THEFT', 'PEEPING TOM' : 'Other', 'CHILD STEALING' : 'Other', 'RAPE, ATTEMPTED' : 'SEX CRIMES', 'PICKPOCKET' : 'THEFT', 'FALSE IMPRISONMENT' : 'Other', 'PROWLER' : 'Other', 'COUNTERFEIT' : 'Other', 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)' : 'Other', 'BUNCO, ATTEMPT' : 'Other', 'KIDNAPPING - GRAND ATTEMPT' : 'Other', 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)' : 'THEFT', 'FAILURE TO YIELD' : 'Other', 'ILLEGAL DUMPING' : 'Other', 'DRIVING WITHOUT OWNER CONSENT (DWOC)' : 'Other', 'PIMPING' : 'SEX CRIMES', 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS' : 'SEX CRIMES', 'FALSE POLICE REPORT' : 'Other', 'DOCUMENT WORTHLESS ($200.01 & OVER)' : 'Other', 'PANDERING' : 'Other', 'BATTERY ON A FIREFIGHTER' : 'Other', 'CREDIT CARDS, FRAUD USE ($950 & UNDER' : 'Other', 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT' : 'Other', 'THEFT FROM PERSON - ATTEMPT' : 'THEFT', 'BOAT - STOLEN' : 'THEFT', 'RECKLESS DRIVING' : 'Other', 'SHOPLIFTING - ATTEMPT' : 'THEFT', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $400' : 'THEFT', 'THEFT, COIN MACHINE - PETTY ($950 & UNDER)' : 'THEFT', 'LEWD/LASCIVIOUS ACTS WITH CHILD' : 'SEX CRIMES', 'CHILD PORNOGRAPHY' : 'SEX CRIMES', 'CONTRIBUTING' : 'Other', 'WEAPONS POSSESSION/BOMBING' : 'Other', 'DISHONEST EMPLOYEE - GRAND THEFT' : 'THEFT', 'DISHONEST EMPLOYEE - PETTY THEFT' : 'THEFT', 'CHILD ABANDONMENT' : 'Other', 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE' : 'SEX CRIMES', 'TILL TAP - PETTY ($950 & UNDER)' : 'Other', 'GRAND THEFT / INSURANCE FRAUD' : 'THEFT', 'DOCUMENT WORTHLESS ($200 & UNDER)' : 'Other', 'VEHICLE - MOTORIZED SCOOTERS, BICYCLES, AND WHEELCHAIRS' : 'Other', 'CONSPIRACY' : 'Other', 'PURSE SNATCHING - ATTEMPT' : 'THEFT', 'DRUGS, TO A MINOR' : 'Other', 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)' : 'THEFT', 'DISRUPT SCHOOL' : 'Other', 'LYNCHING' : 'Other', 'BIKE - ATTEMPTED STOLEN' : 'THEFT', 'TELEPHONE PROPERTY - DAMAGE' : 'VANDALISM', 'DRUNK ROLL' : 'Other', 'BRIBERY' : 'Other', 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)' : 'Other', 'LYNCHING - ATTEMPTED' : 'Other', 'THEFT, COIN MACHINE - ATTEMPT' : 'THEFT', 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM' : 'SEX CRIMES', 'PETTY THEFT - AUTO REPAIR' : 'THEFT', 'PICKPOCKET, ATTEMPT' : 'THEFT', 'TILL TAP - GRAND THEFT ($950.01 & OVER)' : 'THEFT', 'FAILURE TO DISPERSE' : 'Other', 'GRAND THEFT / AUTO REPAIR' : 'THEFT', 'INCITING A RIOT' : 'Other', 'BIGAMY' : 'Other', 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)' : 'SEX CRIMES', 'DISHONEST EMPLOYEE ATTEMPTED THEFT' : 'THEFT', 'ABORTION/ILLEGAL' : 'Other', 'MANSLAUGHTER, NEGLIGENT' : 'Other', 'TILL TAP - ATTEMPT' : 'Other', 'BLOCKING DOOR INDUCTION CENTER' : 'Other', 'FIREARMS RESTRAINING ORDER (FIREARMS RO)' : 'Other', 'TRAIN WRECKING' : 'Other', 'DRUNK ROLL - ATTEMPT' : 'Other', 'FIREARMS TEMPORARY RESTRAINING ORDER (TEMP FIREARMS RO)' : 'Other'})

In [5]:
#display clean crime data frame
crime_data_clean_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,Other,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,VANDALISM,...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,Other,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,Other,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,SEX CRIMES,...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [6]:
pd.options.display.max_rows = 500

In [9]:
assignee_group=crime_data_clean_df.groupby('Crm Cd Desc')
total_count=assignee_group['Crm Cd Desc'].count()
#total number of crimes
crime_data_clean_df = pd.DataFrame(total_count)
crime_data_clean_df.head()

             Crm Cd Desc
Crm Cd Desc
ASSAULT           429653
Other             255361
SEX CRIMES         32366
THEFT            1190892
VANDALISM         201480

In [ ]:
#reset index to see results as a dataframe
#pd.DataFrame(crime_data_clean_df['Crm Cd Desc'].value_counts()).reset_index()